<div class='chess-board' [ngClass]="{'rotate-board': isSubmited}">
  <div *ngFor="let row of rowArray">
    <div style="display: flex;">
      <div (click)="figureRulesService.changePosition(row,column,this)" *ngFor="let column of columnrray" class="tray"
        [ngClass]="{'green-tray':(column%2==0 && row%2!=0), 'green':(column%2!=0 && row%2==0)}">

        <p *ngIf='column==1' style="position: absolute; left:-20px;top:0px;">{{row}}</p>
        <p *ngIf='column==8' style="position: absolute; right:-20px;top:0px; transform: rotate(180deg);">{{row}}</p>
        <p *ngIf='row==1' style="position: absolute; left:20px;top:-40px; transform: rotate(180deg);">
          {{column==8?'A':''}}
          {{column==7?'B':''}}
          {{column==6?'C':''}}
          {{column==5?'D':''}}
          {{column==4?'E':''}}
          {{column==3?'F':''}}
          {{column==2?'G':''}}
          {{column==1?'H':''}}
        </p>
        <p *ngIf='row==8' style="position: absolute; right:20px;bottom:-40px;">
          {{column==8?'A':''}}
          {{column==7?'B':''}}
          {{column==6?'C':''}}
          {{column==5?'D':''}}
          {{column==4?'E':''}}
          {{column==3?'F':''}}
          {{column==2?'G':''}}
          {{column==1?'H':''}}
        </p>

        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/rock.png"
          *ngIf="figureFunctionService.scannFigure(whiteRock,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-rock.png"
          *ngIf="figureFunctionService.scannFigure(blackRock,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/knight.png"
          *ngIf="figureFunctionService.scannFigure(whiteKnight,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-knight.png"
          *ngIf="figureFunctionService.scannFigure(blackKnight,row,column)">

        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/bishop.png"
          *ngIf="figureFunctionService.scannFigure(whiteBishop,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-bishop.png"
          *ngIf="figureFunctionService.scannFigure(blackBishop,row,column)">

        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/queen.png"
          *ngIf="figureFunctionService.scannFigure(whiteQueen,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-queen.png"
          *ngIf="figureFunctionService.scannFigure(blackQueen,row,column)">

        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/king.png"
          *ngIf="figureFunctionService.scannFigure(whiteKing,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-king.png"
          *ngIf="figureFunctionService.scannFigure(blackKing,row,column)">

        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/bishop.png"
          *ngIf="figureFunctionService.scannFigure(whiteBishop2,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-bishop.png"
          *ngIf="figureFunctionService.scannFigure(blackBishop2,row,column)">

        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/knight.png"
          *ngIf="figureFunctionService.scannFigure(whiteKnight2,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-knight.png"
          *ngIf="figureFunctionService.scannFigure(blackKnight2,row,column)">

        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/rock.png"
          *ngIf="figureFunctionService.scannFigure(whiteRock2,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-rock.png"
          *ngIf="figureFunctionService.scannFigure(blackRock2,row,column)">


        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/pawn.png"
          *ngIf="figureFunctionService.scannFigure(whitePawn1,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/pawn.png"
          *ngIf="figureFunctionService.scannFigure(whitePawn2,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/pawn.png"
          *ngIf="figureFunctionService.scannFigure(whitePawn3,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/pawn.png"
          *ngIf="figureFunctionService.scannFigure(whitePawn4,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/pawn.png"
          *ngIf="figureFunctionService.scannFigure(whitePawn5,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/pawn.png"
          *ngIf="figureFunctionService.scannFigure(whitePawn6,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/pawn.png"
          *ngIf="figureFunctionService.scannFigure(whitePawn7,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/pawn.png"
          *ngIf="figureFunctionService.scannFigure(whitePawn8,row,column)">

        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-pawn.png"
          *ngIf="figureFunctionService.scannFigure(blackPawn1,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-pawn.png"
          *ngIf="figureFunctionService.scannFigure(blackPawn2,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-pawn.png"
          *ngIf="figureFunctionService.scannFigure(blackPawn3,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-pawn.png"
          *ngIf="figureFunctionService.scannFigure(blackPawn4,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-pawn.png"
          *ngIf="figureFunctionService.scannFigure(blackPawn5,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-pawn.png"
          *ngIf="figureFunctionService.scannFigure(blackPawn6,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-pawn.png"
          *ngIf="figureFunctionService.scannFigure(blackPawn7,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-pawn.png"
          *ngIf="figureFunctionService.scannFigure(blackPawn8,row,column)">

        <!-- choose figure -->
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/rock.png"
          *ngIf="figureFunctionService.scannFigure(chooseRock,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-rock.png"
          *ngIf="figureFunctionService.scannFigure(chooseBlackRock,row,column)">

        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/queen.png"
          *ngIf="figureFunctionService.scannFigure(chooseQueen,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-queen.png"
          *ngIf="figureFunctionService.scannFigure(chooseBlackQueen,row,column)">

        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/bishop.png"
          *ngIf="figureFunctionService.scannFigure(chooseBishop,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-bishop.png"
          *ngIf="figureFunctionService.scannFigure(chooseBlackBishop,row,column)">

        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/knight.png"
          *ngIf="figureFunctionService.scannFigure(chooseKnight,row,column)">
        <img [ngClass]="{'rotate-board': isSubmited}" src="../assets/images/black-knight.png"
          *ngIf="figureFunctionService.scannFigure(chooseBlackKnight,row,column)">

        <div *ngIf="chooseWhite" class="choose-figure">
          <div>
            <img (click)='chooseFigure(figure)' *ngFor="let figure of chooseWhiteFigure"
              [src]="'../assets/images/'+figure+'.png'">
          </div>
        </div>
        <div *ngIf='chooseBlack' class="choose-figure">
          <div>
            <img (click)='chooseFigure(figure)' *ngFor="let figure of chooseBlackFigure"
              [src]="'../assets/images/'+figure+'.png'">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<img class='submit' (click)="submit()" src='../assets/images/rotation.png'>

<div class="kill-white-figure">
  <img *ngFor="let figure of deletedWhiteFigure" [src]="'../assets/images/'+figure+'.png'">
</div>
<div class="kill-black-figure">
  <img *ngFor="let figure of deletedBlackFigure" [src]="'../assets/images/'+figure+'.png'">
</div>
<div class='GameOver' *ngIf='isGameOver'>
    <p class="text">Game Over</p>
    <p>{{isWhiteMove?'Black':'White'}} Winn!</p>
    <p class='rematch' (click)='rematch()'>rematch</p>
</div>